<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form action="" method="post">
        {% csrf_token %}
        <h1 style="background-color:skyblue;color:blue;">Add New Student</h1>
        <label>Name:</label><br>
        <input type="text" name="Names"><br>
        <label>Email:</label><br>
        <input type="text" name="Emails"><br>
        <label>Password:</label><br>
        <input type="number" name="Passwords"><br>
        <input type="submit">

    </form>
  </body>
</html>